<div [ngClass]="'container'">
    <app-card [metricName] = "'Symbol'"
              [metricValue] = "''"
    ></app-card>
    <app-card [metricName] = "'Company Name'"
              [metricValue] = "''"
    >
    </app-card>
    <app-card [metricName] = "'Market Cap.'"
              [metricValue] = "''"
    >
    </app-card>
    <app-card [metricName] = "'Price'"
              [metricValue] = "''"

    >
    </app-card>
    <app-card [metricName] = "'Price Avg 50'"
              [metricValue] = "''"
    >
    </app-card>
    <app-card [metricName]  = "'Price Avg 200'"
              [metricValue] = "''"
    >
    </app-card>
    <app-card [metricName] = "'Volume'"
              [metricValue] = "''"
    >
    </app-card>
    <app-card [metricName] = "'EPS'"
              [metricValue] = "''"
    >
    </app-card>
    <app-card [metricName] = "'PE'"
              [metricValue] = "''"
    >
    </app-card>
    <app-card [metricName] = "'Exchange'"
              [metricValue] = "''"
    >
    </app-card>
</div>
