@import './../../../styles.scss';

.header {
    display: flex;
    justify-content: space-between;
    background-color: $bg-color-2;
    //width: 80rem;
    padding-left: 1rem;
}

.stockName {
    float:left;
    color: #e29402;
    //margin-left: 3rem;
    margin-top: 0.5rem;
 }

 .searchComponent {
    float: left;
    padding: 1rem;
    margin-left: '5rem';
 }

 .user {
     display: flex;
     align-items: center;
     padding-right: 2rem;

     &__name {
         margin-right: 2rem;
         padding: 1rem;
         color: #e29402;
     }

     &__avatar {
         background-color: #fff;
         height: 4rem;
         width: 4rem;
         top: 0.6rem;
         right: 2rem;
         border-radius: 50%;
         z-index: 2000;
         box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
         text-align: center;
     }

 }

 @media only screen and (max-width: 56.25em) {
    .search {
        width: 22rem;
    }

    .stockName {
        font-size: 0.7rem;
    }
 }

 @media only screen and (max-width: 37.5em) {
     .header {
         flex-direction: column;
         width: 24.1rem;
         padding-left:26rem;
     }

     .searchComponent {
         margin-left: 3.8rem !important;
         //margin-right: -8rem;
         width: 17rem;
     }

     .stockName {
         width: 15rem;
         margin-left: 8rem !important;
         font-size: 0.7rem;
     }

     .user {
             margin-left: 4.2rem;
             margin-bottom: 1rem;
             width: 16rem;
           }
     .search {
        width: 22rem;
        margin-left: 1.3em;
     }
 }
