<div [ngClass]="'container'">
    <app-tree-datagrid
        [columnDefs]="this.activeColumns"
        [rowData]="this.data"
        [width] = "
                   ( this.responsiveDimentions != null &&
                     this.responsiveDimentions.width
                   )
                   ? this.responsiveDimentions.width
                   : '50rem'"
        [marginLeft] = "
                        ( this.responsiveDimentions != null &&
                            this.responsiveDimentions.marginLeft
                        )
                        ? this.responsiveDimentions.marginLeft
                        : '0rem'"
        [height] = "
                    ( this.responsiveDimentions != null &&
                    this.responsiveDimentions.height
                    )
                    ? this.responsiveDimentions.height
                    : '40rem'"
        [onSelectedRow] = "this.onSelectedRow.bind(this)"
    >
    </app-tree-datagrid>
</div>
