<div>
    <app-header [stockName] = "this.symbol"
                [userName]  = "username"
                [ngClass]   ="'header'"
                [headerStyles] ="this.headerStyles"
    >
    </app-header>
    <div [ngClass]="'container'"
         [ngStyle]="{
                      width: containerStyles.width
                    }"
    >

        <div [ngClass] = "'main'">
            <app-side-menu [ngClass]="'sideMenu'"
                           [onClickSelectMenuItem]="this.onClickSelectMenuItem.bind(this)"
                           [sideMenuStyles]="this.sideMenuStyles"
            ></app-side-menu>

            <app-loading *ngIf="this.loading"></app-loading>

            <div *ngIf="selectedItem === 1">
                <app-overview *ngIf="selectedItem === 1"
                            [ngClass]="'overview'"
                            [stocksData]="stockData">
                </app-overview>
            </div>

            <app-mmm *ngIf="selectedItem === 2"
                     [ngClass]="'mmm'"
                     [stocksData]="this.stockData">
            </app-mmm>

            <app-ratios-by-fiscal-period  *ngIf="selectedItem === 3"
                                   [ngClass]="'ratiosByFiscalPeriod'"
                                   [stocksData]="this.stockData">
            </app-ratios-by-fiscal-period>

            <app-ratios-by-category *ngIf = "selectedItem === 4"
                              [ngClass] = "'ratiosByCategory'"
                              [stocksData] = "this.stockData">
            </app-ratios-by-category>

            <app-balance-sheet *ngIf="selectedItem === 5"
                          [ngClass]="'balanceSheet'"
                          [stocksData]="this.stockData">
            </app-balance-sheet>


            <app-income-statement *ngIf="selectedItem === 6"
                             [ngClass]="'incomeStatement'"
                             [stocksData]="this.stockData">
            </app-income-statement>

            <app-cashflow-statement  *ngIf="selectedItem === 7"
                                [ngClass]="'cashflowStatement'"
                                [stocksData]="this.stockData">
            </app-cashflow-statement>
        </div>
    </div>
</div>